.wrap {
  width: 100%;
  height: 80vh;
  background: #f6fbff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1 {
  font-size: 30px;
  position: relative;
  margin-bottom: 80px;
  font-weight: bold;
}

.h1::after {
  content: "";
  width: 150px;
  height: 3px;
  background: linear-gradient(to right, #00b9ff, #9f4db5);
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.review_box {
  width: 90%;
  max-width: 700px;
  height: 320px;
  border-radius: 10px;
  box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.card {
  height: 300px;
  padding: 40px;
  color: gray;
  line-height: 22px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  z-index: 1;
  line-height: 1.5;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile img {
  border-radius: 50%;
}

.profile h3 {
  font-size: 26px;
  color: #1e90ff;
  margin-bottom: 8px;
  font-weight: bold;
}

.slide {
  width: 100%;
  padding-right: 60px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.sidebar {
  width: 60px;
  height: 100%;
  padding: 15px 0;
  box-sizing: border-box;
  background: #00b9ff;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar img {
  width: 25px;
  padding: 5px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.card::before {
  content: "";
  width: 110px;
  height: 110px;
  border-bottom-right-radius: 100%;
  background: #00b9ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
